*,
::before,
::after {
  box-sizing: border-box;
}

.container {
  max-width: 1158px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

/* HEADER */

.header-section {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-menu {
  display: flex;
  align-items: center;
}

.logo {
  color: #4d5ae5;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  font-weight: 700;
  margin-right: 76px;
}
.web-logo {
  color: #2e2f42;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0.03em;
  line-height: 1.17;
  font-weight: 700;
}
.menu {
  display: flex;
  gap: 40px;
}

.menu-item {
}

.link {
  display: block;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: #404bbf;
  position: relative;
}

.current::after {
  content: "";
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  position: absolute;
  display: block;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.address {
  display: flex;
  gap: 40px;
}

.contacts {
  font-style: normal;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

/* 1ST SECTION HERO */

.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-container {
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.button {
  color: #ffffff;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus,
.button:hover {
  background-color: #404bbf;
}

/* 2ND SECTION - OUR SERVICES */

.service-section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.services-list {
  display: flex;
  gap: 24px;
}

.svg-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background: #f4f4fd;
  margin-bottom: 8px;
}

.service-icon {
  display: flex;
  width: 64px;
  height: 64px;
}

.service-item {
  width: calc((100%-72px) / 4);
}

.service-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.service-description {
  width: 264px;
}

/* 3RD SECTION - OUR TEAM */

.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  line-height: 1.11;
  margin-bottom: 72px;
}

.team {
  display: flex;
  gap: 24px;
}

.person {
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background: #fff;
}

.person-container {
  padding: 32px 0;
}
.person-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.position {
  text-align: center;
  margin-bottom: 8px;
}

.personal-soc-media-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.personal-icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border: 1px solid none;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.personal-icon-link:hover,
.personal-icon-link:focus {
  background-color: #404bbf;
}

/* 4TH SECTION - OUR PORTFOLIO */

.folio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.folio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.folio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.folio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.folio-picture {
  position: relative;
  overflow: hidden;
}

.folio-picture img {
  width: 100%;
}

.folio-item:hover .folio-overlay {
  transform: translateY(0);
}

.folio-overlay {
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.folio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.folio-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.folio-content {
}

/* FOOTER */

.footer-section {
  background-color: #2e2f42;
  color: #ffffff;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-description {
  margin-right: 120px;
}

footer .logo {
  color: #ffffff;
}

.web {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.studio {
  color: #f4f4fd;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  font-weight: 700;
}

.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}

.soc-media-title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.soc-media-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.icon-item {
  display: flex;
  width: 40px;
  height: 40px;
}

.icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border: 1px solid none;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #31d0aa;
}

.soc-icon {
  fill: #f4f4fd;
}
